/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --content-text-color: #FF0070;
  --text-color: #F1B2CE;
  --layer-color: #000028;
  --footer-shadow-color: #FF0070;
  --menu-hover-color: rgba(255, 0, 112, .4);
  --main-font: 'IBM Plex Mono';
  --main-font-size: 18px;
  --title-font-size: 116px;
  --bold-weight: 700;
  --normal-wieght: 400;
}

.theme-dark .page {
  background-image: url(../images/cover-image-dark.png);
}

.theme-dark .header__decor {
  display: block;
}